section.about
  .container
    .blog__inner-topside
      h2 Пресс-центр
    .motivate__descr
      p 
        | Радислав Гандапас — самый известный в России специалист по лидерству. Автор 
        span 8 книг 
        | и 
        span 14 фильмов 
        | по лидерству и ораторскому искусству. Самый титулованный бизнес-тренер России, единственный в стране трижды был признан лучшим в профессии по результатам года. Лауреат Книжной премии Рунета 2013.
    .diploms.row
      h4.col-md-2.col-sm-3.col-xs-6 Дипломы и награды
      ul.diplom__list.col-md-8.col-sm-9.col-xs-12
        li.diplom__item
          a.diplom__link.cartonbox(href="assets/img/about/diplom-1.png" data-cb-type="img" data-cb-group="awards")
            img(src="assets/img/about/diplom-1.png")
        li.diplom__item
          a.diplom__link.cartonbox(href="assets/img/about/diplom-2.png" data-cb-type="img" data-cb-group="awards")
            img(src="assets/img/about/diplom-2.png")
        li.diplom__item
          a.diplom__link.cartonbox(href="assets/img/about/diplom-3.png" data-cb-type="img" data-cb-group="awards")
            img(src="assets/img/about/diplom-3.png")
        li.diplom__item
          a.diplom__link.cartonbox(href="assets/img/about/diplom-4.png" data-cb-type="img" data-cb-group="awards")
            img(src="assets/img/about/diplom-4.png")
    .resume__wrap.row
      .resume.col-md-6.col-sm-4.col-xs-5
        .resume__left
          img(src="assets/img/about/profile.png")
        .resume__right
          h3 Резюме Радислава
          a.resume__link(href="#") Скачать CV
            span pdf (200КБ)
      .chanels.col-md-6.col-sm-8.col-xs-7
        .channels__descr
          p В качестве эксперта и ведущего Радислав принимал участие в телепрограммах на каналах
        ul.channels__list
          li.channel__item
            img.channel__img(src="assets/img/about/chanel-1.png")
          li.channel__item
            img.channel__img(src="assets/img/about/chanel-2.png")
          li.channel__item
            img.channel__img(src="assets/img/about/chanel-3.png")
          li.channel__item
            img.channel__img(src="assets/img/about/chanel-4.png")
          li.channel__item
            img.channel__img(src="assets/img/about/chanel-5.png")
          li.channel__item
            img.channel__img(src="assets/img/about/chanel-6.png")
          li.channel__item
            img.channel__img(src="assets/img/about/chanel-7.png")
          li.channel__item
            img.channel__img(src="assets/img/about/chanel-8.png")
    h2.clients__title Крупнейшие клиенты
    .clients__container
      .clients__bg
      .clients__wrap
        ul.clients__list
          li.clients__item
            img.clients__img(src="assets/img/about/client-1.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-2.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-3.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-4.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-5.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-6.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-9.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-10.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-11.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-12.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-15.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-16.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-17.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-18.png")
          li.clients__item
            img.clients__img(src="assets/img/about/client-19.png")
          li.clients__item
            .text
              | Всего более  
              span 1000 
              | корпоративных клиентов и  
              span 100 000  
              | участников тренингов
    h2.interv__title Интервью и выступления
    ul.videos__list
      li.video__item
        a.video__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video" data-cb-design="video16x9")
          img(src="assets/img/about/video-1.png")
          .play__btn
            i.fa.fa-play
            span Смотреть фрагмент
        .video__descr
          p Радислав Гандапас Скрипты и алгоритмы успеха Synergy Global Forum 2015
        .video__timestamp 33:35
      li.video__item
        a.video__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video" data-cb-design="video16x9")
          img(src="assets/img/about/video-2.png")
          .play__btn
            i.fa.fa-play
            span Смотреть фрагмент
        .video__descr
          p Радислав Гандапас Скрипты и алгоритмы успеха Synergy Global Forum 2015
        .video__timestamp 33:35
      li.video__item
        a.video__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video" data-cb-design="video16x9")
          img(src="assets/img/about/video-3.png")
          .play__btn
            i.fa.fa-play
            span Смотреть фрагмент
        .video__descr
          p Радислав Гандапас Скрипты и алгоритмы успеха Synergy Global Forum 2015
        .video__timestamp 33:35
      li.video__item
        a.video__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video" data-cb-design="video16x9")
          img(src="assets/img/about/video-4.png")
          .play__btn
            i.fa.fa-play
            span Смотреть фрагмент
        .video__descr
          p Радислав Гандапас Скрипты и алгоритмы успеха Synergy Global Forum 2015
        .video__timestamp 33:35
      li.video__item
        a.video__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video" data-cb-design="video16x9")
          img(src="assets/img/about/video-5.png")
          .play__btn
            i.fa.fa-play
            span Смотреть фрагмент
        .video__descr
          p Радислав Гандапас Скрипты и алгоритмы успеха Synergy Global Forum 2015
        .video__timestamp 33:35
      li.video__item
        a.video__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video" data-cb-design="video16x9")
          img(src="assets/img/about/video-6.png")
          .play__btn
            i.fa.fa-play
            span Смотреть фрагмент
        .video__descr
          p Радислав Гандапас Скрипты и алгоритмы успеха Synergy Global Forum 2015
        .video__timestamp 33:35
      li.video__item
        a.video__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video" data-cb-design="video16x9")
          img(src="assets/img/about/video-7.png")
          .play__btn
            i.fa.fa-play
            span Смотреть фрагмент
        .video__descr
          p Радислав Гандапас Скрипты и алгоритмы успеха Synergy Global Forum 2015
        .video__timestamp 33:35
      li.video__item
        a.video__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video" data-cb-design="video16x9")
          img(src="assets/img/about/video-8.png")
          .play__btn
            i.fa.fa-play
            span Смотреть фрагмент
        .video__descr
          p Радислав Гандапас Скрипты и алгоритмы успеха Synergy Global Forum 2015
        .video__timestamp 33:35
      li.video__item
        a.video__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video" data-cb-design="video16x9")
          img(src="assets/img/about/video-9.png")
          .play__btn
            i.fa.fa-play
            span Смотреть фрагмент
        .video__descr
          p Радислав Гандапас Скрипты и алгоритмы успеха Synergy Global Forum 2015
        .video__timestamp 33:35
    h2.photo__title Фотогалерея
    ul.gallery__list
      li.gallery__item
        a.gallery__link.cartonbox(href="assets/img/about/gallery-1.png" data-cb-type="img" data-cb-group="gallery")
          img(src="assets/img/about/gallery-1.png")
      li.gallery__item
        a.gallery__link.cartonbox(href="assets/img/about/gallery-2.png" data-cb-type="img" data-cb-group="gallery")
          img(src="assets/img/about/gallery-2.png")
      li.gallery__item
        a.gallery__link.cartonbox(href="assets/img/about/gallery-3.png" data-cb-type="img" data-cb-group="gallery")
          img(src="assets/img/about/gallery-3.png")
      li.gallery__item
        a.gallery__link.cartonbox(href="assets/img/about/gallery-4.png" data-cb-type="img" data-cb-group="gallery")
          img(src="assets/img/about/gallery-4.png")
      li.gallery__item
        a.gallery__link.cartonbox(href="assets/img/about/gallery-5.png" data-cb-type="img" data-cb-group="gallery")
          img(src="assets/img/about/gallery-5.png")
      li.gallery__item
        a.gallery__link.cartonbox(href="assets/img/about/gallery-6.png" data-cb-type="img" data-cb-group="gallery")
          img(src="assets/img/about/gallery-6.png")
      li.gallery__item
        a.gallery__link.cartonbox(href="assets/img/about/gallery-7.png" data-cb-type="img" data-cb-group="gallery")
          img(src="assets/img/about/gallery-7.png")
      li.gallery__item
        a.gallery__link.cartonbox(href="assets/img/about/gallery-8.png" data-cb-type="img" data-cb-group="gallery")
          img(src="assets/img/about/gallery-8.png")
      li.gallery__item
        a.gallery__link.cartonbox(href="assets/img/about/gallery-9.png" data-cb-type="img" data-cb-group="gallery")
          img(src="assets/img/about/gallery-9.png")
      li.gallery__item
        a.gallery__link.cartonbox(href="assets/img/about/gallery-10.png" data-cb-type="img" data-cb-group="gallery")
          img(src="assets/img/about/gallery-10.png")
      li.gallery__item
        a.gallery__link.cartonbox(href="assets/img/about/gallery-11.png" data-cb-type="img" data-cb-group="gallery")
          img(src="assets/img/about/gallery-11.png")
      li.gallery__item
        a.gallery__link(href='#') Скачать все 20 фото одним архивом
          span (zip, 300МБ)
    .row.mail__list
      .organization__left.col-md-6
        .mailto Организация тренингов и выступлений
          a(href="#") training@radislavgandapas.com
      .organization__right.col-md-6
        .mailto По общим вопросам пишите
          a(href="#") mail@radislavgandapas.com
