.banner__wrap.active
    ul.banners__list
        li.banner__item
            a(href="#")
                img(src="assets/img/main/banner.png")
        li.banner__item
            a(href="#")
                img(src="assets/img/main/banner-2.png")