section.blog
	.container
		h2 Новое в 
			a(href='blog.html') блоге
		ul.blog__list.row
			li.blog__item.col-md-4.col-sm-6.col-xs-12
				a.blog__link(href="#")
					.blog__pic
						img(src="assets/img/blog/picture-1.png")
					.play__btn
						i.fa.fa-play
						span Смотреть фрагмент
					.blog__descr
						p Не нужно ждать вдохновения, 
						p нужно встать и делать
			li.blog__item.col-md-4.col-sm-6.col-xs-12
				a.blog__link(href="#")
					.blog__pic
						img(src="assets/img/blog/picture-2.png")
					.play__btn
						i.fa.fa-play
						span Смотреть фрагмент
					.blog__descr
						p Тренинг “Полная Ж. Полноценная жизнь как главный бизнес-проект человека” в Москве. Как это было
			li.blog__item.col-md-4
				a.blog__link(href="#")
					.blog__pic.full__width
						img(src="assets/img/blog/picture-3.png")
					.play__btn
						i.fa.fa-play
						span Смотреть фрагмент
					.blog__descr
						p Не нужно ждать вдохновения, 
						p нужно встать и делать
