// FOOTER
footer.footer
	.container
		.footer__wrap
			.row.footer__first-row
				.col-md-4.col-sm-10.col-xs-12
					h5 Подписаться на рассылку
					.follow__descr
						p Материалы по лидерству, ораторскому искусству и личному развитию
				.socials__wrap.col-md-8.col-sm-10.col-xs-12
					.row
						ul.socials__list.col-md-6.col-sm-6.col-xs-12
							li.social__item
								a.social__link(href="#")
									i.fa.fa-vk
							li.social__item
								a.social__link(href="#")
									i.fa.fa-facebook
							li.social__item
								a.social__link(href="#")
									i.fa.fa-twitter
							li.social__item
								a.social__link(href="#")
									i.fa.fa-instagram
							li.social__item
								a.social__link(href="#")
									i.fa.fa-youtube-play
							li.social__item
								a.social__link(href="#")
									i.fa.fa-linkedin
							li.social__item
								a.social__link(href="#")
									i.fa.fa-vimeo
							li.social__item
								a.social__link(href="#")
									i.fa.fa-odnoklassniki
							li.social__item
								a.social__link(href="#")
									i.fa.fa-paper-plane
						.col-md-6.col-sm-6.col-xs-12
							a.appstore__wrap(href="#")
								img(src="assets/img/icons/apple-icon.png" srcset="assets/img/icons/apple-icon@2x.png 2x")
								.appstore__descr
									p Учебные фильмы 
									p и аудиокниги
			form.footer__form.row
				.col-md-6.col-sm-6.col-xs-12.email__input
					.input__wrap
						input(type="email" placeholder="Ваш email")
						button(type="submit") Подписаться
				.col-md-6.col-xs-12.search__input
					.input__wrap
						input(type="text" placeholder="Поиск по сайту")
						button(type="submit")
							i.fa.fa-search
							| Найти
			.footer__bottom
				.footer__author
					img(src="assets/img/icons/ra-icon.png" srcset="assets/img/icons/ra-icon@2x.png 2x")
					.footer__info
						p Агенство интеллектуальных
						p событий «РА»
				.footer__contacts
					.footer__info
						p Звоните: 
						a(href='tel:84951800414') +7 (495) 180-04-14  
					.footer__info
						p Пишите: 
						a(href='mailto:mail@radislavgandapas.com').hoverable-link mail@radislavgandapas.com 
					.footer__info
						p Приходите:
						p Москва, ул.Солянка, 1/2, подъезд 6, офис 41.
