.header.active
  .container
    .header__top.row
      .header__left.col-md-7.col-sm-6.col-xs-6
        ul.points__list
          li.points__item
            a.points__link(href="#") 19 января
          li.points__item
            a.points__link(href="#") Вебинар
          li.points__item.active
            a.points__link(href="#") «Эмоциональный интеллект начинает и выйгрывает»
      .header__right.col-md-5.col-sm-6.col-xs-6
        a.registration(href="#") Записаться прямо сейчас
        a.close__link(href="#")
          span.ico &times;
          span скрыть
