.main__info-top
	.container
		.row
			.container
				.col-md-3
				ul.info__top-list.col-md-9
					li.info__top-item
						a(href='tel:+749518080414').non-hoverable Звоните +7 (495) 1808-04-14
					li.info__top-item
						| Пишите: 
						a(href="mailto:mail@radislavgandapas.com") mail@radislavgandapas.com
					li.info__top-item
						i.ico.ico-user
						a(href="#") Личный кабинет
					li.info__top-item
						img(src="assets/img/icons/flag-icon.png" srcset='assets/img/icons/flag-icon@2x.png 2x')
						a(href="#") Eng
		.title.row
			h1.col-md-12 Радислав Гандапас
		.main__info-middle.row
			a.mnu__for-mobile(href="#")
				i.fa.fa-bars
			.container
				.info__middle-left
				.info__middle-right
					nav.mnu.row
						.close__btn-wrap
							.change__language
								img(src="assets/img/icons/flag-icon.png" srcset='assets/img/icons/flag-icon@2x.png 2x')
								a(href="#") Eng
							a.close__btn(href="#")
								i.fa.fa-close
						ul.mnu__list
							li.mnu__item.active
								a.mnu__link(href="home.html") Главная
							li.mnu__item
								a.mnu__link(href="trainings.html") Тренинги
							li.mnu__item
								a.mnu__link(href="shop.html") Магазин
							li.mnu__item
								a.mnu__link(href="blog.html") Блог
							li.mnu__item
								a.mnu__link(href="about.html") Пресс-центр
						.mnu__list-mobile-contacts
							.mnu__list-mobile-item
								i.ico.ico-user
								a(href="#").hoverable-link Личный кабинет
							.mnu__list-mobile-item
								a(href='tel:+749518080414').non-hoverable Звоните +7 (495) 1808-04-14
							.mnu__list-mobile-item Пишите: <a href="mailto:mail@radislavgandapas.com" class="hoverable-link"> mail@radislavgandapas.com</a>
					.row.adaptive__row.adaptive__row
						h2.motivate__title
							ul.second__title-list
								li Лидерство
								li Мотивация
								li Развитие
					.row.adaptive__row
						.motivate__descr
							p 
								| Радислав Гандапас — самый известный в России специалист по лидерству. Автор 
								span 8 книг 
								| и 
								span 14 фильмов 
								| по лидерству и ораторскому искусству. <i class='hidden-xs'>Самый титулованный бизнес-тренер России, единственный в стране трижды был признан лучшим в профессии по результатам года. Лауреат Книжной премии Рунета 2013.</i>
					.row.motivate__link-wrap
						a.motivate__link(href="about.html") Узнать больше о Радиславе
					.red__banner
						img(src="assets/img/main/manMobile.png").bg__pic__mobile
						h5 Ораторское исскуство 2.0
						.banner__place Москва / 10-11 декабря
						a(href="#") Узнать больше
					.row.adaptive__row
						h3.actions__title Ближайшие события
					.row.adaptive__row
						ul.actions__list.col-md-12.col-sm-7
							li.actions__item.row
								.action__left.col-md-1.col-sm-2.col-xs-3
									.date 12.01
								.action__right.col-md-10.col-sm-10.col-xs-9
									a.action__link(href="#") 
										span Тренинг «Ораторское исскуство 2.0»
							li.actions__item.row
								.action__left.col-md-1.col-sm-2.col-xs-3
									.date 31.01
										span 01.02
								.action__right.col-md-10.col-sm-10.col-xs-9
									a.action__link(href="#") 
										span Тренинг «Ораторское исскуство 2.0 VIP-день»
									.action__descr
										p Все это вы не только услышите от тренера, но и сможете закрепить в упражнениях. Мы не будем совместно обсуждать выступление одного участника, как это делается на других тренингах, а будем выступать и выступать. Главный принцип тренинга – удовольствие и польза.
							li.actions__item.row
								.action__left.col-md-1.col-sm-2.col-xs-3
									.date 13.02
								.action__right.col-md-10.col-sm-10.col-xs-9
									a.action__link(href="#") 
										span Радислав выступит на форуме REFORUM с темой «Лидерство и мудрость»
							li.actions__item.row
								.action__left.col-md-1.col-sm-2.col-xs-3
									.date 21.03
								.action__right.col-md-10.col-sm-10.col-xs-9
									a.action__link(href="#")
										span Тренинг «Крест лидера»
										.action__link__tag Новинка
									.action__descr
										p Все это вы не только услышите от тренера, но и сможете закрепить в упражнениях. Мы не будем совместно обсуждать выступление одного участника, как это делается на других тренингах, а будем выступать и выступать. Главный принцип тренинга – удовольствие и польза.
							li.actions__item.row
								.action__left.col-md-1.col-sm-2.col-xs-3
									.date 27.03
								.action__right.col-md-10.col-sm-10.col-xs-9
									a.action__link(href="#") 
										span Тренинг «Скрипты и алгоритмы успеха VIP-день»
					.red__banner
						h5 Ораторское исскуство 2.0
						.banner__place Москва / 10-11 декабря
						a(href="#") Узнать больше
					.row.adaptive__row
						.info__banner
							.info__banner-left
								h3 Ораторское исскуство 2.0
								.place Москва / 10-11 декабря
							.info__banner-right
								a(href="#") Узнать больше
