section.map
  .container
    h2 Факты о Радиславе
  .map__container
    .container
      ul.map__list.row.slick-custom-dots
        li.map__item
          h3.map__title 4 000 000 км
          .map__descr
            p преодолено Радиславом на 
            p самолете/поезде/автомобиле 
            p ради встречи с участниками 
            p тренингов и семинаров.
        li.map__item.text-right
          h3.map__title 110 000
          .map__descr
            p человек приняли
            p участие в тренингах
        li.map__item
          h3.map__title 6 000 человек -
          .map__descr
            p рекордное количество
            p участников тренинга
        li.map__item
          .map__descr
            p С 1996 года проведено
          h3.map__title  1200 тренингов
        li.map__item
          h3.map__title 43%
          .map__descr
            p корпоративных клиентов
            p - постоянные клиенты
        li.map__item
          h3.map__title 3600 -
          .map__descr
            p суммарное количество
            p страниц в книгах
            p Радислава
        li.map__item
          h3.map__title 2 раза
          .map__descr
            p Радислав сам играл
            p на тренингах на барабанах
            p во время выступления
            p в Москве и в Баку
        li.map__item
          h3.map__title 3000 л. воды
          .map__descr
            p выпито Радиславом
            p во время проведения
            p тренингов
        li.map__item
          .map__descr
            p За прошедший год
            p записано
          h3.map__title 240 интервью
