section.shop__page
  .container
    .blog__inner-topside
      h2.ordered__title Мои заказ №3, создан 10.12.2016
    .ordered__wrap.order__wrap.product__wrap
      .table__wrap
        .border__wrap
          h4.tablet__title Заказ №3 от 10.12.2016, 3 товара на сумму 3 200р
          table
            tbody
              tr
                td Оплата: 10.12.2016
                td Доставка:
                  span Ожидает обработки
                td
                  a(href="#")
                    i.fa.fa-info
                    | Подробнее о заказе
              tr
                td Яндекс деньги
                  .green Оплачено
                td Служба доставки: Курьер
                td
                  a(href="#")
                    i.fa.fa-refresh
                    | Повторить заказ
              tr
                td Итого：
                  span 3 200 р
                td Стоимость доставки: 500р
                td
                  a(href="#")
                    i.fa.fa-close
                    | Отменить заказ
      .table__wrap.table__order-cnt
        h3.product__title.ordered__table-title Содержимое заказа
        .border__wrap
          table
            thead
              tr
                td Товар
                td Количество
                td Сумма
            tbody
              tr.with__pic
                td
                  img(src="assets/img/pic.jpg")
                  .text
                    h4 К выступлению готов!
                    .version 
                      span Электронная версия
                      a(href='#') FB2, 
                      a(href='#') EPUB, 
                      a(href='#') iOS, 
                      a(href='#') PDF
                td 1 шт.
                td 
                  .table__order-cnt-price
                    span 300 р
                    .table__order-cnt-price-btn
                      a.form__btn.save(href="#") Скачать (1.2Mb)
              
              tr.with__pic
                td
                  img(src="assets/img/pic.jpg")
                  .text
                    h4 К выступлению готов!
                    .version 
                      span Электронная версия
                      a(href='#') FB2, 
                      a(href='#') EPUB, 
                      a(href='#') iOS, 
                      a(href='#') PDF
                td 1 шт.
                td 
                  .table__order-cnt-price
                    span 300 р
                    .table__order-cnt-price-btn
                      a.form__btn.save(href="#") Скачать (1.2Mb)
                      a.form__btn.save(href="#") Слушать онлайн
              
              tr.with__pic
                td
                  img(src="assets/img/pic.jpg")
                  .text
                    h4 К выступлению готов!
                    .version 
                      span Электронная версия
                      a(href='#') FB2, 
                      a(href='#') EPUB, 
                      a(href='#') iOS, 
                      a(href='#') PDF
                td 1 шт.
                td
                  .table__order-cnt-price
                    span 300 р
                    .table__order-cnt-price-btn.table__order-cnt-price-btn--status
                      span Доставка: Курьер
                      span Ожидает обработки
                  
