section.shop__page.ordered-page
	.container
		.blog__inner-topside
			h2.ordered__title Мои заказы
		.ordered__wrap.product__wrap
			.table__wrap
				h3.product__title.ordered__table-title Текущие заказы
				.border__wrap
					h4.tablet__title Заказ №3 от 10.12.2016, 3 товара на сумму 3 200р
					table
						tbody
							tr
								td Оплата: 10.12.2016
								td Доставка:
									span Ожидает обработки
								td
									a(href="#")
										i.fa.fa-info
										span Подробнее о заказе
							tr
								td Яндекс деньги
									.green Оплачено
								td Служба доставки: Курьер
								td
									a(href="#")
										i.fa.fa-refresh
										span Повторить заказ
							tr
								td Итого：
									span 3 200 р
								td Стоимость доставки: 500р
								td
									a(href="#")
										i.fa.fa-close
										span Отменить заказ
			.table__wrap
				h3.product__title.ordered__table-title Выполненные заказы
				.border__wrap
					h4.tablet__title Заказ №3 от 10.12.2016, 3 товара на сумму 3 200р
					table
						tbody
							tr
								td
									.green Заказ выполнен 05.12.2016
								td
								td
									a(href="#")
										i.fa.fa-info
										span Подробнее о заказе
							
							tr
								td
								td
								td
									a(href="#")
										i.fa.fa-refresh
										span Повторить заказ
