section.blog__main
	.container
		.blog__inner-topside
			h2 Блог
			a.search__mnu-link(href="#")
				| Архив и тэги
				i.fa.fa-bars
				i.fa.fa-close
		.blog__main-container.row
			.blog__main-left.col-md-9
				.blog__main-item
					.blog__inner-container
						h2.blog__main-title Как словом превратить врага в друга
						.blog__main-podcast
							p Агрессивная аудитория – страшное испытание для человека, выступающего публично. Что делать в экстремальной ситуации?
							p В преддверии тренинга “Ораторское искусство 2.0”  читайте интервью для Executive.ru о выступлении перед агрессивно настроенной аудиторией.
						.blog__main-pic
							img(src="assets/img/blog/picture-1.jpg")
						h3 Бежать или атаковать?
						.post__descr
							span Executive.ru: 
							| Когда сталкиваешься с неприятием публики, к которой ты обращаешься, – это настоящий стресс. Хотя часто ничто не предвещает беды. Что вызывает агрессию?
						.post__quote
							span Радислав Гандапас: 
							| Бывает так, что оратор сам настраивает слушателей против себя. Бывает, аудитория получает какую-то негативную информацию. От таких проблем никто не застрахован. Случается, что публику специально перед выступлением программируют на агрессию. Такое довольно часто встречается в конкурентной политике, а порой и в бизнесе. Например, когда происходит имущественный спор и мнение трудового коллектива может стать определяющим. Учитель, заходя в класс, тоже не знает, с кем он столкнется, – с разъяренными львами или с кроткими овечками. Настроение учеников зависит от того, что произошло во время перемены, какой урок был до этого в расписании, физкультура или биология, от того, старшеклассники это или школьники средних классов. Повлиять на причины, вызывающие враждебность, ты часто не можешь. Но если ты умеешь взаимодействовать с аудиторией, настроенной недоброжелательно, ты вооружен в хорошем смысле этого слова.
						.post__descr
							span Executive.ru: 
							| Есть ли специальные приемы, которые помогают нейтрализовать негатив и вернуть расположение людей?
						.post__descr
							span Р.Г.:
							| К любому выступлению нужно готовиться вне зависимости от настроения аудитории, к которой ты идешь. В процессе подготовки нужно учитывать различные сценарии. И если есть вероятность, что публика окажется агрессивной, то готовиться надо еще тщательнее, прорабатывать самые невероятные сценарии вплоть до того, куда бежать, когда бьют. Помните, сеанс одновременной игры «гроссмейстера» Остапа Бендера в «Клубе четырех коней»? Он сразу подготовил пути к отступлению, и лодка ждала великого комбинатора в условленном месте, благодаря чему он спасся.
						h4 Бежать или атаковать
						.post__descr
							| Но это все шутки. А если серьезно, то вариант выхода из дискуссии обязательно должен быть. Бывают случаи, когда не в вашей власти успокоить аудиторию. И тогда, образно говоря, спасение бегством – это лучшая стратагема, лучший выход. Однако я надеюсь, что наши читатели не попадут в такой переплет. В большинстве случаев агрессивность аудитории очень умеренная, управляемая, легко гасимая или перенаправляемая.
						h3 Аудиоверсия подкаста
						audio.blog__main-audio(src="assets/audio/lova.mp3" style="width: 100%" controls)
						h3 Книга выпуска:
						.blog__main-book
							| Александр Глушков --
							a(href="#") «Эндорфины красоты. История о том, как можно добиться успеха, когда деньги – не главное»
						ul.tags__list
							h5.blog__tags-title Теги:
							li.tag__item
								a.tag__link(href="#") аудио, 
							li.tag__item
								a.tag__link(href="#") бизнес, 
							li.tag__item
								a.tag__link(href="#") мероприятия, 
							li.tag__item
								a.tag__link(href="#") ораторское искусство, 
							li.tag__item
								a.tag__link(href="#") подкаст
					.blog__items-footer
						.blog__footer-left
							| 08 декабря 2016 
							span | нет комментариев
						.blog__footer-right
							ul.social__btns-list
								li.social__btn-item
									a.social__btn-link(href="#") 
										i.fa.fa-thumbs-up
										| Like
										span 20
								li.social__btn-item
									a.social__btn-link(href="#") Share
								li.social__btn-item
									a.social__btn-link(href="#")
										i.fa.fa-twitter
										| Твитнуть
								li.social__btn-item
									a.social__btn-link(href="#")
										i.fa.fa-heart
										| Мне нравиться
								li.social__btn-item
									a.social__btn-link(href="#") 103
						a.post__comments-count(href="#") 3 комментария
						ul.comments__list
							li.comment__item
								.comment__top
									.comment__author Yelena K.
									.comment__date 14:39 / 18.11.2016
								.comment__descr
									p Здравствуйте, Радислав! Очень интересно! Спасибо!
								a.comment__answer-link(href="#") Ответить
									i.fa.fa-caret-down
							li.comment__item
								.comment__top
									.comment__author Дмитрий Бузовский
									.comment__date 14:39 / 18.11.2016
								.comment__descr
									p Изучаю ораторское мастерство 11 лет. Уже 8й год обучаюсь очно и заочно у Радислава. Даже довелось выступить у него на сцене и взять интервью)
									p Я научился обучать людей выступать успешно с помощью авторской методики за 2 дня. Я освоил самые разные техники: от быстрой настройки голоса и устранение речевых паразитов, до презентаций и работы с трудной аудиторией. Тем не менее, я до сих пор восхищаюсь тем, как ловко Радислав использует аналогии в речи и как лаконично он умеет донести суть!) Это ВЫСШЕЕ МАСТЕРСТВО!!!)
								a.comment__answer-link(href="#") Ответить
									i.fa.fa-caret-down
						form.feedback__form
							h3 Оставить комментарий к записи
							.feedback__socials
								.enter__by войти с помощью: 
								ul.enter__social-list
									li.enter__social-item
										a.enter__social-link(href="#")
											i.fa.fa-vk
									li.enter__social-item
										a.enter__social-link(href="#")
											i.fa.fa-odnoklassniki
									li.enter__social-item
										a.enter__social-link(href="#")
											i.fa.fa-at
									li.enter__social-item
										a.enter__social-link(href="#")
											i.fa.fa-facebook
									li.enter__social-item
										a.enter__social-link(href="#")
											i.fa.fa-caret-down
							ul.feedback__input-list
								li.feedback__input-item
									label(for="name") Имя*
									input#name(type="text" name="name")
								li.feedback__input-item
									label(for="site") Сайт\профиль в соц.сетях
									input#site(type="text" name="site")
								li.feedback__input-item
									label(for="email") Email*
									input#email(type="email" name="email")
							.feedback__last-row
								.last__row-left
									label(for="textarea") Сообщение*
									textarea#textarea
								.last__row-right
									.check__wrap
										input#subscribe.checkbox(type="checkbox" checked)
										label(for="subscribe")
										label.text__label(for="subscribe") Я хочу получать уведомления о новых комментариях на электронную почту
									button.form__btn.save(type="submit") Отправить

			.blog__main-right.col-md-3
				.mailto
					| По всем вопросам пишите:
					a(href="#") mail@radislavgandapas.com
				form.search__form
					.form__search-wrap
						input.form__search-input(type="search" placeholder="Поиск по блогу")
						button(type="submit")
							i.fa.fa-search
							| Найти
					h5.blog__right-title Архив по годам
					ul.search__form-list
						li.search__form-item
							a.search__form-link(href="#") 2016
							ul.search__inner-list
								li.search__inner-item
									a.search__inner-link(href="#") декабрь
								li.search__inner-item
									a.search__inner-link(href="#") ноябрь
								li.search__inner-item
									a.search__inner-link(href="#") октябрь
								li.search__inner-item
									a.search__inner-link(href="#") сентябрь
								li.search__inner-item
									a.search__inner-link(href="#") август
								li.search__inner-item
									a.search__inner-link(href="#") июль
								li.search__inner-item
									a.search__inner-link(href="#") июнь
								li.search__inner-item
									a.search__inner-link(href="#") май
								li.search__inner-item
									a.search__inner-link(href="#") апрель
								li.search__inner-item
									a.search__inner-link(href="#") март
								li.search__inner-item
									a.search__inner-link(href="#") февраль
								li.search__inner-item
									a.search__inner-link(href="#") январь
						li.search__form-item
							a.search__form-link(href="#") 2015
							ul.search__inner-list
								li.search__inner-item
									a.search__inner-link(href="#") декабрь
								li.search__inner-item
									a.search__inner-link(href="#") ноябрь
								li.search__inner-item
									a.search__inner-link(href="#") октябрь
								li.search__inner-item
									a.search__inner-link(href="#") сентябрь
								li.search__inner-item
									a.search__inner-link(href="#") август
								li.search__inner-item
									a.search__inner-link(href="#") июль
								li.search__inner-item
									a.search__inner-link(href="#") июнь
								li.search__inner-item
									a.search__inner-link(href="#") май
								li.search__inner-item
									a.search__inner-link(href="#") апрель
								li.search__inner-item
									a.search__inner-link(href="#") март
								li.search__inner-item
									a.search__inner-link(href="#") февраль
								li.search__inner-item
									a.search__inner-link(href="#") январь
						li.search__form-item.active
							a.search__form-link(href="#") 2014
							ul.search__inner-list
								li.search__inner-item.active
									a.search__inner-link(href="#") декабрь
								li.search__inner-item
									a.search__inner-link(href="#") ноябрь
								li.search__inner-item
									a.search__inner-link(href="#") октябрь
								li.search__inner-item
									a.search__inner-link(href="#") сентябрь
								li.search__inner-item
									a.search__inner-link(href="#") август
								li.search__inner-item
									a.search__inner-link(href="#") июль
								li.search__inner-item
									a.search__inner-link(href="#") июнь
								li.search__inner-item
									a.search__inner-link(href="#") май
								li.search__inner-item
									a.search__inner-link(href="#") апрель
								li.search__inner-item
									a.search__inner-link(href="#") март
								li.search__inner-item
									a.search__inner-link(href="#") февраль
								li.search__inner-item
									a.search__inner-link(href="#") январь
						li.search__form-item
							a.search__form-link(href="#") 2013
							ul.search__inner-list
								li.search__inner-item
									a.search__inner-link(href="#") декабрь
								li.search__inner-item
									a.search__inner-link(href="#") ноябрь
								li.search__inner-item
									a.search__inner-link(href="#") октябрь
								li.search__inner-item
									a.search__inner-link(href="#") сентябрь
								li.search__inner-item
									a.search__inner-link(href="#") август
								li.search__inner-item
									a.search__inner-link(href="#") июль
								li.search__inner-item
									a.search__inner-link(href="#") июнь
								li.search__inner-item
									a.search__inner-link(href="#") май
								li.search__inner-item
									a.search__inner-link(href="#") апрель
								li.search__inner-item
									a.search__inner-link(href="#") март
								li.search__inner-item
									a.search__inner-link(href="#") февраль
								li.search__inner-item
									a.search__inner-link(href="#") январь
						li.search__form-item
							a.search__form-link(href="#") 2012
							ul.search__inner-list
								li.search__inner-item
									a.search__inner-link(href="#") декабрь
								li.search__inner-item
									a.search__inner-link(href="#") ноябрь
								li.search__inner-item
									a.search__inner-link(href="#") октябрь
								li.search__inner-item
									a.search__inner-link(href="#") сентябрь
								li.search__inner-item
									a.search__inner-link(href="#") август
								li.search__inner-item
									a.search__inner-link(href="#") июль
								li.search__inner-item
									a.search__inner-link(href="#") июнь
								li.search__inner-item
									a.search__inner-link(href="#") май
								li.search__inner-item
									a.search__inner-link(href="#") апрель
								li.search__inner-item
									a.search__inner-link(href="#") март
								li.search__inner-item
									a.search__inner-link(href="#") февраль
								li.search__inner-item
									a.search__inner-link(href="#") январь
						li.search__form-item
							a.search__form-link(href="#") 2011
							ul.search__inner-list
								li.search__inner-item
									a.search__inner-link(href="#") декабрь
								li.search__inner-item
									a.search__inner-link(href="#") ноябрь
								li.search__inner-item
									a.search__inner-link(href="#") октябрь
								li.search__inner-item
									a.search__inner-link(href="#") сентябрь
								li.search__inner-item
									a.search__inner-link(href="#") август
								li.search__inner-item
									a.search__inner-link(href="#") июль
								li.search__inner-item
									a.search__inner-link(href="#") июнь
								li.search__inner-item
									a.search__inner-link(href="#") май
								li.search__inner-item
									a.search__inner-link(href="#") апрель
								li.search__inner-item
									a.search__inner-link(href="#") март
								li.search__inner-item
									a.search__inner-link(href="#") февраль
								li.search__inner-item
									a.search__inner-link(href="#") январь
				.tags__wrap
					h5.blog__right-title Тэги
					ul.search__tags-list
						li.search__tag-item
							a.search__tag-link(href="#") аудио
						li.search__tag-item
							a.search__tag-link(href="#") бизнес
						li.search__tag-item
							a.search__tag-link(href="#") мероприятия
						li.search__tag-item
							a.search__tag-link(href="#") ораторское искусство
						li.search__tag-item
							a.search__tag-link(href="#") подкаст аудио
						li.search__tag-item
							a.search__tag-link(href="#") бизнес
						li.search__tag-item
							a.search__tag-link(href="#") мероприятия
						li.search__tag-item
							a.search__tag-link(href="#") ораторское искусство
				.search__banner
					img(src="assets/img/main/banner-2.png")
				ul.socials__tape-list
					li.sicial__tape-item
						a.social__tape-link(href="#")
							i.fa.fa-vk
					li.sicial__tape-item
						a.social__tape-link(href="#")
							i.fa.fa-facebook
					li.sicial__tape-item
						a.social__tape-link(href="#")
							i.fa.fa-twitter
					li.sicial__tape-item
						a.social__tape-link(href="#")
							i.fa.fa-instagram
					li.sicial__tape-item
						a.social__tape-link(href="#")
							i.fa.fa-youtube-play
				#vk_post_-53873413_17070
