section.product__page
	.container
		.product__wrap.product__wrap-item
			.product__top
				.product__left
					h2 К выступлению готов!
					img(src="assets/img/product/main.png")
				.product__right
					h2 К выступлению готов!
					.product__author Автор:
						span Радислав Гандапас
					.comments__wrap
						a.shop__training-comments(href="#")
							img(src="assets/img/icons/comment-icon.png")
							| 5 Отзывов
						.shop__training-category
							| Категория: 
							span тренерство
					.product__descr
						p Книга будет полезна всем, кому приходится выступать перед аудиторией и рассказывать о своих проектах. Обязательное чтение для менеджера любого уровня и профиля работы. Успех — это не состояние, это процесс. Многие считают успех 
					.product__info
						a.shop__training-comments(href="#")
							img(src="assets/img/product/icon-2.png")
							| Оглавление
						a.shop__training-comments(href="#")
							img(src="assets/img/product/icon-1.png")
							| Читать фрагмент
					h3.product__title Доступно в форматах
					ul.formats__list
						li.format__item
							.format__left
								h5 Электронная версия
								.available__versions доступно в форматах
									span FB2, EPUB, iOS, EPUB, PDF
							.format__right
								.econom__price
									span 800 p
									| - вы экономите 40%
								a.form__btn.save(href="#") Купить за 400 р
						li.format__item
							.format__left
								h5 Бумажная версия
								.available__versions Масса: 414 г
									span Размеры: 207х135х15 мм
							.format__right
								.econom__price
									span 800 p
									| - вы экономите 40%
								a.form__btn.save.grey(href="#") В корзине
			.feedback__socials
				.enter__by Поделиться 
				ul.enter__social-list
					li.enter__social-item
						a.enter__social-link(href="#")
							i.fa.fa-vk
					li.enter__social-item
						a.enter__social-link(href="#")
							i.fa.fa-odnoklassniki
					li.enter__social-item
						a.enter__social-link(href="#")
							i.fa.fa-at
					li.enter__social-item
						a.enter__social-link(href="#")
							i.fa.fa-facebook
					li.enter__social-item
						a.enter__social-link(href="#")
							i.fa.fa-caret-down
			.about__book
				h3.product__title О книге
				.about__book-descr
					p Как сделать хорошую презентацию? Увы, этому не учат ни в школе, ни в вузе. А ведь это необычайно важный навык: не будет внятного и эффектного выступления - не будет нового проекта или сделки. Как составить текст выступления, в котором нет ничего лишнего и есть все, что нужно? В своей новой книге Радислав Гандапас научит читателя готовить эффектные и эффективные презентации.Как сделать хорошую презентацию? Увы, этому не учат ни в школе, ни в вузе. А ведь это необычайно важный навык: не будет внятного и эффектного выступления - не будет нового проекта или сделки. Как составить текст выступления, в котором нет ничего лишнего и есть все, что нужно? В своей новой книге Радислав Гандапас научит читателя готовить эффектные и эффективные презентации.
			h2 Радислав рекомендует
			ul.trainings__list.video__type
				li.training__item
					.training__pic.another__btn(style={"background-image": "url(assets/img/shop-page/pic-1.png)"})
						a.play__btn(href="#")
							img(src="assets/img/icons/book-icon.png")
					.training__content
						.training__content-top
							.shop__training-date 
								i.fa.fa-cloud-download
								i.fa.fa-volume-down
								i.fa.fa-book
							h4.training__item-title Камасутра для оратора
							.price 600 P.
						.training__content-bottom
							.shop__training-btns
								a.form__btn.save(href="#") В корзину
							.shop__training-bottom
								.shop__training-category
									| Категория: 
									span Для тренеров
								a.shop__training-comments(href="#")
									img(src="assets/img/icons/comment-icon.png")
									| 5
				li.training__item.shop__item.half__price
					.training__pic.another__btn(style={"background-image": "url(assets/img/shop-page/pic-2.png)"})
						a.play__btn(href="#")
							img(src="assets/img/icons/book-icon.png")
					.training__content
						.training__content-top
							.shop__training-date 
								i.fa.fa-cloud-download
								i.fa.fa-volume-down
								i.fa.fa-book
							h4.training__item-title Речи, которые изменили Россию
							.price 3000 P.
						.training__content-bottom
							.shop__training-btns
								a.form__btn.save(href="#") В корзину
							.shop__training-bottom
								.shop__training-category
									| Категория: 
									span Для тренеров
								a.shop__training-comments(href="#")
									img(src="assets/img/icons/comment-icon.png")
									| 5
				li.training__item
					.training__pic.another__btn(style={"background-image": "url(assets/img/shop-page/pic-3.png)"})
						a.play__btn(href="#")
							img(src="assets/img/icons/book-icon.png")
					.training__content
						.training__content-top
							.shop__training-date 
								i.fa.fa-cloud-download
								i.fa.fa-volume-down
								i.fa.fa-book
							h4.training__item-title Лидеры, которые изменили Россию
							.price 1500 P.
						.training__content-bottom
							.shop__training-btns
								a.form__btn.save(href="#") В корзину
							.shop__training-bottom
								.shop__training-category
									| Категория: 
									span Для тренеров
								a.shop__training-comments(href="#")
									img(src="assets/img/icons/comment-icon.png")
									| 5
			h2 Отзывы
			ul.feedback__list
				li.feedback__item
					.feedback__left
						h4 Ирина Павлова
						.author__info 28лет | 10 октября 2016
					.feedback__right
						p «Концентрат рекомендаций по проведению эффектных и эффективных презентаций, сдобренный вкусными и наглядными примерами. Книга рассказывает обо всех аспектах презентации - от подготовки слайдов, репетиции и самонастройки до окончания выступления и ответов на вопросы: как начать, продолжить и кончить, удерживая внимание аудитории и получая удовольствие. Блестящее чувство юмора автора подкрепляет ценные советы по ходу всей книги».
				li.feedback__item
					.feedback__left
						h4 Cоня К.
						.author__info 28лет | 10 октября 2016
					.feedback__right
						p «Отличная, на мой взгляд, исчерпывающая книга о том, как готовиться к пАрезентации и о том, как выступать с презентацией в любых бизнес-ситуациях (внутри и вне своей компании). Только полезные советы, кстати, не только касательно презентаций и выступлений, а касательно некоторых сторон жизни :) Мне очень понравилась. Я нередко делаю презентации сама и выступаю с ними также, и книга добавила к моему опыту очень ценные знания. Рекомендую читать всем деловым людям, не зависимо от рода бизнеса».
			h2 Оcтавить отзыв о книге
			form.feedback__form
				.feedback__socials
					.enter__by войти с помощью: 
					ul.enter__social-list
						li.enter__social-item
							a.enter__social-link(href="#")
								i.fa.fa-vk
						li.enter__social-item
							a.enter__social-link(href="#")
								i.fa.fa-odnoklassniki
						li.enter__social-item
							a.enter__social-link(href="#")
								i.fa.fa-at
						li.enter__social-item
							a.enter__social-link(href="#")
								i.fa.fa-facebook
						li.enter__social-item
							a.enter__social-link(href="#")
								i.fa.fa-caret-down
				ul.feedback__input-list
					li.feedback__input-item
						label(for="name") Имя*
						input#name(type="text" name="name")
					li.feedback__input-item
						label(for="email") Email*
						input#email(type="email" name="email")
				.feedback__last-row
					.last__row-left
						label(for="textarea") Сообщение*
						textarea#textarea
					.last__row-right
						.check__wrap
							input#subscribe.checkbox(type="checkbox" checked)
							label(for="subscribe")
							label.text__label.subscribe-label(for="subscribe") Я хочу получать уведомления о новых комментариях на электронную почту
						button.form__btn.save(type="submit") Оставить отзыв
			h5 О магазине
			ul.about__shop-list
				li.about__shop-item
					| Связаться с нами можно любым удобным для вас способом. Email, телефон, социальные сети и мессенджеры
				li.about__shop-item
					| Доставим ваш заказ в любой регион России в удобное для вас время. Работаем для вас без выходных
				li.about__shop-item
					| Мы гордимся безупречной репутацией нашего магазина. Если товар вас не устроит, вы всегда смодете вернуь деньги
				li.about__shop-item
					| Ваш первый заказ в интернет-магазине? Мы с радостью подскадем как сделать покупки на нашем сайте
			ul.payments__list.row
				li.payment__item.col-md-2.col-sm-12
					h5 Принимаем к оплате
				li.payment__item.col-md-2
					img(src="assets/img/shop-page/icon-1.png")
					.payment__descr Банковская карта
				li.payment__item.col-md-2
					img(src="assets/img/shop-page/icon-2.png")
					.payment__descr Яндекс Деньги
				li.payment__item.col-md-2
					img(src="assets/img/shop-page/icon-3.png")
					.payment__descr Сбербанк Онлайн
				li.payment__item.col-md-2
					img(src="assets/img/shop-page/icon-4.png")
					.payment__descr QIWI Wallet
				li.payment__item.col-md-2
					img(src="assets/img/shop-page/icon-5.png")
					.payment__descr Наличные
				li.payment__item.col-md-2
					img(src="assets/img/shop-page/icon-6.png")
					.payment__descr WebMoney
				li.payment__item.col-md-2
					img(src="assets/img/shop-page/icon-7.png")
					.payment__descr Альфа-Клик
				li.payment__item.col-md-2
					img(src="assets/img/shop-page/icon-8.png")
					.payment__descr Промсвязьбанк
