section.shop
  .container
    h2 Интернет Магазин
    .shop__list-wrap
      // shop type 1
      .shop__list-container
        .shop__title-wrap
            h4 Видеокурсы
        ul.shop__list.js-slickVideoCourses.slick-custom-dots
          li.shop__item.action
            a.shop__link(href="#")
              .shop__pic
                img(src="assets/img/shop/picture-1.png")
              .front__shadow
              .play__btn.play__btn--have-text
                i.fa.fa-play
                span Смотреть фрагмент
              .shop__info-container
                .shop__info-left
                  .info__type Видео
                  .info__title Идеология лидера
                .shop__info-right
                  .price 17900 
                    i.fa.fa-rub
                    span.old__price 17900 
                      i.fa.fa-rub
              .buy__tonque
                h4 Купить видеокурс
          li.shop__item.hit
            a.shop__link(href="#")
              .shop__pic
                img(src="assets/img/shop/picture-3.png")
              .front__shadow
              .play__btn.play__btn--have-text
                i.fa.fa-play
                span Смотреть фрагмент
              .shop__info-container
                .shop__info-left
                  .info__type Видео
                  .info__title Идеология лидера
                .shop__info-right
                  .price 17900 
                    i.fa.fa-rub
                    span.old__price 17900 
                      i.fa.fa-rub
              .buy__tonque
                h4 Купить видеокурс
        .more__link-wrap
          a.shop__more-link(href="#") Еще 9 видеороликов
      
      // shop type 2
      .shop__list-container
        .shop__title-wrap
          h4 Книги
        ul.shop__list.js-slickBooks.slick-custom-dots
          li.shop__item.new.another__btn
            a.shop__link(href="#")
              .shop__pic
                img(src="assets/img/shop/picture-5.png")
              .front__shadow
              .play__btn
                img(src="assets/img/icons/book-icon.png")
              .shop__info-container
                .shop__info-left
                  .info__type Видео
                  .info__title Идеология лидера
                .shop__info-right
                  .price 17900 
                    i.fa.fa-rub
                    span.old__price 17900 
                      i.fa.fa-rub
              .buy__tonque
                h4 Купить видеокурс
          li.shop__item.womens__day.another__btn
            a.shop__link(href="#")
              .shop__pic
                img(src="assets/img/shop/picture-2.png")
              .front__shadow
              .play__btn
                img(src="assets/img/icons/book-icon.png")
              .shop__info-container
                .shop__info-left
                  .info__type Видео
                  .info__title Идеология лидера
                .shop__info-right
                  .price 17900 
                    i.fa.fa-rub
                    span.old__price 17900 
                      i.fa.fa-rub
              .buy__tonque
                h4 Купить видеокурс
        .more__link-wrap
          a.shop__more-link(href="#") Еще 3 книги
      
      // shop type 3
      .shop__list-container
        .shop__title-wrap
          h4 Аудиокниги
        ul.shop__list.js-slickAudio.slick-custom-dots
          li.shop__item.mans__day.another__btn
            a.shop__link(href="#")
              .shop__pic
                img(src="assets/img/shop/picture-4.png")
              .front__shadow
              .play__btn
                img(src="assets/img/icons/audio-icon.png")
              .shop__info-container
                .shop__info-left
                  .info__type Видео
                  .info__title Идеология лидера
                .shop__info-right
                  .price 17900 
                    i.fa.fa-rub
                    span.old__price 17900 
                      i.fa.fa-rub
              .buy__tonque
                h4 Купить видеокурс
          li.shop__item.half__price.another__btn
            a.shop__link(href="#")
              .shop__pic
                img(src="assets/img/shop/picture-6.png")
              .front__shadow
              .play__btn
                img(src="assets/img/icons/audio-icon.png")
              .shop__info-container
                .shop__info-left
                  .info__type Видео
                  .info__title Идеология лидера
                .shop__info-right
                  .price 17900 
                    i.fa.fa-rub
                    span.old__price 17900 
                      i.fa.fa-rub
              .buy__tonque
                h4 Купить видеокурс
        .more__link-wrap
          a.shop__more-link(href="#") Еще 4 аудио
