section.shop__page
	.container
		.blog__inner-topside
			h2 Магазин
		.shop__wrap
			.shop__topside
				.date 10 Января 2017
			.shop__container
				ul.shop__mnu-list
					li.shop__mnu-item
						a.shop__mnu-link(href="#") Все товары
					li.shop__mnu-item
						a.shop__mnu-link(href="#") Тренинги
					li.shop__mnu-item
						a.shop__mnu-link(href="#") Видеокурсы
					li.shop__mnu-item
						a.shop__mnu-link(href="#") Книги
					li.shop__mnu-item
						a.shop__mnu-link(href="#") Аудиокниги
					li.shop__mnu-item
						a.shop__mnu-link(href="#") Спецпредложения
				h3 Тренинги
				ul.trainings__list
					li.training__item
						.training__pic(style={'background-image' : 'url(assets/img/trainings/picture-1.png)'})
							a.play__btn(href="#")
								i.fa.fa-play
								span Смотреть фрагмент
						.training__content
							.training__content-top
								.shop__training-date 14.01.2017
									span | Москва
								h4.training__item-title Скрипты и алгоритмы успеха
								.shop__training-guiding Ведущий тренинга:
									span Радислав Гандапас
								ul.tariff__list
									li.tarrif__item
										| Business
										span 20 000 P.
									li.tarrif__item
										| Vip
										span 25 000 P.
									li.tarrif__item
										| Standart
										span 15 000 P.
									li.tarrif__item
										| Platinum
										span 125 000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") Купить
									a.form__btn(href="#") Подробнее
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic(style={'background-image' : 'url(assets/img/trainings/picture-1.png)'})
							a.play__btn(href="#")
								i.fa.fa-play
								span Смотреть фрагмент
						.training__content
							.training__content-top
								.shop__training-date 14.01.2017
									span | Москва
								h4.training__item-title Вебинар "Эмоциональный интеллект начинает и выигрывает" "Эмоциональный интеллект начинает и выигрывает"
								.shop__training-guiding Ведущий тренинга:
									span Радислав Гандапас
								ul.tariff__list
									li.tarrif__item
										| Business
										span 20 000 P.
									li.tarrif__item
										| Vip
										span 25 000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") Купить
									a.form__btn(href="#") Подробнее
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic(style={'background-image' : 'url(assets/img/trainings/picture-1.png)'})
							a.play__btn(href="#")
								i.fa.fa-play
								span Смотреть фрагмент
						.training__content
							.training__content-top
								.shop__training-date 14.01.2017
									span | Москва
								h4.training__item-title Скрипты и алгоритмы успеха
								.shop__training-guiding Ведущий тренинга:
									span Радислав Гандапас
								ul.tariff__list
									li.tarrif__item
										| Standart
										span 15 000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") Купить
									a.form__btn(href="#") Подробнее
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic(style={'background-image' : 'url(assets/img/trainings/picture-1.png)'})
							a.play__btn(href="#")
								i.fa.fa-play
								span Смотреть фрагмент
						.training__content
							.training__content-top
								.shop__training-date 14.01.2017
									span | Москва
								h4.training__item-title Крест лидера
								.shop__training-guiding Ведущий тренинга:
									span Радислав Гандапас
								ul.tariff__list
									li.tarrif__item
										| Business
										span 20 000 P.
									li.tarrif__item
										| Vip
										span 25 000 P.
									li.tarrif__item
										| Standart
										span 15 000 P.
									li.tarrif__item
										| Platinum
										span 125 000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") Купить
									a.form__btn(href="#") Подробнее
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic(style={'background-image' : 'url(assets/img/trainings/picture-1.png)'})
							a.play__btn(href="#")
								i.fa.fa-play
								span Смотреть фрагмент
						.training__content
							.training__content-top
								.shop__training-date 14.01.2017
									span | Москва
								h4.training__item-title "Эмоциональный интеллект начинает и выигрывает"
								.shop__training-guiding Ведущий тренинга:
									span Радислав Гандапас
								ul.tariff__list
									li.tarrif__item
										| Business
										span 20 000 P.
									li.tarrif__item
										| Vip
										span 25 000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") Купить
									a.form__btn(href="#") Подробнее
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic(style={'background-image' : 'url(assets/img/trainings/picture-1.png)'})
							a.play__btn(href="#")
								i.fa.fa-play
								span Смотреть фрагмент
						.training__content
							.training__content-top
								.shop__training-date 14.01.2017
									span | Москва
								h4.training__item-title Крест лидера
								.shop__training-guiding Ведущий тренинга:
									span Радислав Гандапас
								ul.tariff__list
									li.tarrif__item
										| Business
										span 20 000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") Купить
									a.form__btn(href="#") Подробнее
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
				h3 Видеокурсы
				ul.trainings__list.video__type
					li.training__item
						.training__pic(style={'background-image' : 'url(assets/img/trainings/picture-1.png)'})
							a.play__btn(href="#")
								i.fa.fa-play
								span Смотреть фрагмент
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-clock-o
									| 3 часа
									span | DVD
									i.fa.fa-cloud-download
								h4.training__item-title Идеология лидера
								.price 3000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic(style={'background-image' : 'url(assets/img/trainings/picture-1.png)'})
							a.play__btn(href="#")
								i.fa.fa-play
								span Смотреть фрагмент
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-clock-o
									| 3 часа
									span | DVD
									i.fa.fa-cloud-download
								h4.training__item-title Харизма лидера
								.price 3000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic(style={'background-image' : 'url(assets/img/trainings/picture-1.png)'})
							a.play__btn(href="#")
								i.fa.fa-play
								span Смотреть фрагмент
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-clock-o
									| 3 часа
									span | DVD
									i.fa.fa-cloud-download
								h4.training__item-title Крест лидера
								.price 3000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
				h3 Книги
				ul.trainings__list.video__type
					li.training__item
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-1.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/book-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
									i.fa.fa-book
								h4.training__item-title Камасутра для оратора
								.price 600 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-2.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/book-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
									i.fa.fa-book
								h4.training__item-title Речи, которые изменили Россию
								.price 3000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-3.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/book-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
									i.fa.fa-book
								h4.training__item-title Лидеры, которые изменили Россию
								.price 1500 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-1.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/book-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
									i.fa.fa-book
								h4.training__item-title Камасутра для оратора
								.price 600 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-2.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/book-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
									i.fa.fa-book
								h4.training__item-title Речи, которые изменили Россию
								.price 3000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-3.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/book-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
									i.fa.fa-book
								h4.training__item-title Лидеры, которые изменили Россию
								.price 1500 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
				h3 Аудиокниги
				ul.trainings__list.video__type
					li.training__item
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-1.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/audio-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
									i.fa.fa-book
								h4.training__item-title Камасутра для оратора
								.price 600 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-2.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/audio-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
									i.fa.fa-book
								h4.training__item-title Речи, которые изменили Россию
								.price 3000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-3.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/audio-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
									i.fa.fa-book
								h4.training__item-title Лидеры, которые изменили Россию
								.price 1500 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
				h3 Спецпредложения
				ul.trainings__list.video__type.special
					li.training__item.womens-day
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-2.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/audio-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
								h4.training__item-title Камасутра для оратора
								.price 600 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item.new
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-2.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/audio-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
								h4.training__item-title Речи, которые изменили Россию
								.price 3000 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
					li.training__item.paket
						.training__pic.another__btn(style={'background-image' : 'url(assets/img/shop-page/pic-2.png)'})
							a.play__btn(href="#")
								img(src="assets/img/icons/audio-icon.png")
						.training__content
							.training__content-top
								.shop__training-date
									i.fa.fa-cloud-download
									i.fa.fa-volume-down
								h4.training__item-title Лидеры, которые изменили Россию
								.price 1500 P.
							.training__content-bottom
								.shop__training-btns
									a.form__btn.save(href="#") В корзину
								.shop__training-bottom
									.shop__training-category
										| Категория:
										span Для тренеров
									a.shop__training-comments(href="#")
										img(src="assets/img/icons/comment-icon.png")
										| 5
				h5 О магазине
				ul.about__shop-list
					li.about__shop-item
						| Связаться с нами можно любым удобным для вас способом. Email, телефон, социальные сети и мессенджеры
					li.about__shop-item
						| Доставим ваш заказ в любой регион России в удобное для вас время. Работаем для вас без выходных
					li.about__shop-item
						| Мы гордимся безупречной репутацией нашего магазина. Если товар вас не устроит, вы всегда смодете вернуь деньги
					li.about__shop-item
						| Ваш первый заказ в интернет-магазине? Мы с радостью подскадем как сделать покупки на нашем сайте
				ul.payments__list.row
					li.payment__item.col-md-2.col-sm-12
						h5 Принимаем к оплате
					li.payment__item.col-md-2
						img(src="assets/img/shop-page/icon-1.png")
						.payment__descr Банковская карта
					li.payment__item.col-md-2
						img(src="assets/img/shop-page/icon-2.png")
						.payment__descr Яндекс Деньги
					li.payment__item.col-md-2
						img(src="assets/img/shop-page/icon-3.png")
						.payment__descr Сбербанк Онлайн
					li.payment__item.col-md-2
						img(src="assets/img/shop-page/icon-4.png")
						.payment__descr QIWI Wallet
					li.payment__item.col-md-2
						img(src="assets/img/shop-page/icon-5.png")
						.payment__descr Наличные
					li.payment__item.col-md-2
						img(src="assets/img/shop-page/icon-6.png")
						.payment__descr WebMoney
					li.payment__item.col-md-2
						img(src="assets/img/shop-page/icon-7.png")
						.payment__descr Альфа-Клик
					li.payment__item.col-md-2
						img(src="assets/img/shop-page/icon-8.png")
						.payment__descr Промсвязьбанк
