.main__info-top
	.container
		.row
			.container
				.col-md-3
				ul.info__top-list.list-cart.col-md-12
					li.info__top-item
						| +7 (495) 1808-04-14 |
						span.email mail@radislavgandapas.com
					li.info__top-item.shopping-line
						i.fa.fa-shopping-bag
						| В корзине
						span 3 товара на 34000р
					li.info__top-item.user-item
						a.account__user-link(href="#") Cергей Константинов
						ul.account__mnu
							li.account__mnu-item
								a.account__mnu-link(href="#") Мой профиль
							li.account__mnu-item
								a.account__mnu-link(href="#") Мои заказы
							li.account__mnu-item
								a.account__mnu-link(href="#") Выход
					li.info__top-item
						img(src="assets/img/icons/flag-icon.png" srcset='assets/img/icons/flag-icon@2x.png 2x')
						a(href="#") Eng
		.title.row
			h1.col-md-12 Радислав Гандапас
		.main__info-middle.row
			a.mnu__for-mobile(href="#")
				i.fa.fa-bars
			.container
				.info__middle-left
				.info__middle-right
					nav.mnu.row
						.close__btn-wrap
							.change__language
								img(src="assets/img/icons/flag-icon.png" srcset='assets/img/icons/flag-icon@2x.png 2x')
								a(href="#") Eng
							a.close__btn(href="#")
								i.fa.fa-close
						ul.mnu__list
							li.mnu__item.active
								a.mnu__link(href="home.html") Главная
							li.mnu__item
								a.mnu__link(href="trainings.html") Тренинги
							li.mnu__item
								a.mnu__link(href="shop.html") Магазин
							li.mnu__item
								a.mnu__link(href="blog.html") Блог
							li.mnu__item
								a.mnu__link(href="about.html") Пресс-центр
						.mnu__list-mobile-contacts
							.mnu__list-mobile-item
								i.ico.ico-user
								a(href="#").hoverable-link Личный кабинет
							.mnu__list-mobile-item
								a(href='tel:+749518080414').non-hoverable Звоните +7 (495) 1808-04-14
							.mnu__list-mobile-item Пишите: <a href="mailto:mail@radislavgandapas.com" class="hoverable-link"> mail@radislavgandapas.com</a>
					.row.adaptive__row
						//- .red__banner
						//- 	img(src="assets/img/main/manMobile.png").bg__pic__mobile
						.info__banner
							.info__banner-left
								h3 Ораторское исскуство 2.0
								.place Москва / 10-11 декабря
							.info__banner-right
								a(href="#") Узнать больше
