.main__info-top.about__top.about__top-min
    .container
        .row
            .container
                .col-md-3
                ul.info__top-list.col-md-9
                    li.info__top-item
                        a(href='tel:+749518080414').non-hoverable Звоните +7 (495) 1808-04-14
                    li.info__top-item
                        | Пишите:
                        a(href="mailto:mail@radislavgandapas.com") mail@radislavgandapas.com
                    li.info__top-item
                        i.ico.ico-user
                        a(href="#") Личный кабинет
                    li.info__top-item
                        img(src="assets/img/icons/flag-icon.png" srcset='assets/img/icons/flag-icon@2x.png 2x')
                        a(href="#") Eng
        .title.row
            h1.col-md-12 Радислав Гандапас
        .main__info-middle.row
            a.mnu__for-mobile(href="#")
                i.fa.fa-bars
            .container
                .info__middle-left
                .info__middle-right
                    nav.mnu.row
                        .close__btn-wrap
                            .change__language
                                img(src="assets/img/icons/flag-icon.png" srcset='assets/img/icons/flag-icon@2x.png 2x')
                                a(href="#") Eng
                            a.close__btn(href="#")
                                i.fa.fa-close
                        ul.mnu__list
                            li.mnu__item.active
                                a.mnu__link(href="home.html") Главная
                            li.mnu__item
                                a.mnu__link(href="trainings.html") Тренинги
                            li.mnu__item
                                a.mnu__link(href="shop.html") Магазин
                            li.mnu__item
                                a.mnu__link(href="blog.html") Блог
                            li.mnu__item
                                a.mnu__link(href="about.html") Пресс-центр
                        .mnu__list-mobile-contacts
                          .mnu__list-mobile-item
                            i.ico.ico-user
                            a(href="#").hoverable-link Личный кабинет
                          .mnu__list-mobile-item
                            a(href='tel:+749518080414').non-hoverable Звоните +7 (495) 1808-04-14
                          .mnu__list-mobile-item Пишите: <a href="mailto:mail@radislavgandapas.com" class="hoverable-link"> mail@radislavgandapas.com</a>
                    // banner
                    .red__banner
                      img(src="assets/img/main/manMobile.png").bg__pic__mobile
                      h5 Ораторское исскуство 2.0
                      .banner__place Москва / 10-11 декабря
                      a(href="#") Узнать больше
                    .row.adaptive__row
                        .info__banner.info__banner-min
                            .info__banner-left
                                h3 Ораторское исскуство 2.0
                                .place Москва / 10-11 декабря
                            .info__banner-right
                                a(href="#") Узнать больше
