section.trainings
	.container
		.blog__inner-topside
			h2 Расписание тренингов
		.slider__wrap
			ul.schedule__list
				li.schedule__item
					a.schedule__link(href="#") 
						.schedule__top
							.schedule__date 15.01.2017
							.schedule__place / С. Петербрг
						.schedule__title Кресст лидера
						.schedule__guiding Ведущий тренинга:
							span Радислав Гандапас
				li.schedule__item.moscow
					a.schedule__link(href="#") 
						.schedule__top.moscow
							.schedule__date 19.01.2017
							.schedule__place / Москва
						.schedule__title Скрипты и алгоритмы успеха
						.schedule__guiding Ведущий тренинга:
							span Радислав Гандапас
				li.schedule__item.moscow
					a.schedule__link(href="#") 
						.schedule__top
							.schedule__date 15.01.2017
							.schedule__place / Москва
						.schedule__title Кресст лидера
						.schedule__guiding Ведущий тренинга:
							span Радислав Гандапас
				li.schedule__item
					a.schedule__link(href="#") 
						.schedule__top
							.schedule__date 15.01.2017
							.schedule__place / Online
						.schedule__title Вебинар "Эмоциональный интеллект начинает и выйгрывает"					
						.schedule__guiding Ведущий тренинга:
							span Радислав Гандапас
				li.schedule__item
					a.schedule__link(href="#") 
						.schedule__top
							.schedule__date 15.01.2017
							.schedule__place / С. Петербрг
						.schedule__title Кресст лидера
						.schedule__guiding Ведущий тренинга:
							span Радислав Гандапас
				li.schedule__item
					a.schedule__link(href="#") 
						.schedule__top
							.schedule__date 19.01.2017
							.schedule__place / Москва
						.schedule__title Скрипты и алгоритмы успеха
						.schedule__guiding Ведущий тренинга:
							span Радислав Гандапас
				li.schedule__item
					a.schedule__link(href="#") 
						.schedule__top
							.schedule__date 15.01.2017
							.schedule__place / Москва
						.schedule__title Кресст лидера
						.schedule__guiding Ведущий тренинга:
							span Радислав Гандапас
				li.schedule__item
					a.schedule__link(href="#") 
						.schedule__top
							.schedule__date 15.01.2017
							.schedule__place / Online
						.schedule__title Вебинар "Эмоциональный интеллект начинает и выйгрывает"					
						.schedule__guiding Ведущий тренинга:
							span Радислав Гандапас
			button.slider__arrow-left
			button.slider__arrow-right
		h3.training__title Программы тренингов
		ul.trainings__list
			li.training__item
				.training__pic
					img(src="assets/img/trainings/picture-1.png")
					a.play__btn(href="#")
						i.fa.fa-play
						span Смотреть фрагмент
				.training__content
					.training__content-top
						h4.training__item-title Крест лидера
						.training__descr
							p Все это вы не только услышите от тренера, но и сможете закрепить в упражнениях. Мы не будем совместно обсуждать выступление одного участника, как это делается на других тренингах, а будем выступать и выступать. Главный принцип тренинга – удовольствие и польза.
					.training__content-bottom
						a.training__readmore-btn(href="#") Узнать подробнее
						a.training__donwload(href="#")
							img(src="assets/img/trainings/icon.jpg")
							| Скачать программу в PDF
						.training__category
							| Категория:
							span Саморазвитие
			li.training__item
				.training__pic
					img(src="assets/img/trainings/picture-1.png")
					a.play__btn(href="#")
						i.fa.fa-play
						span Смотреть фрагмент
				.training__content
					.training__content-top
						h4.training__item-title Скрипты и алгоритмы успех
						.training__descr
							p Все это вы не только услышите от тренера, но и сможете закрепить в упражнениях. Мы не будем совместно обсуждать выступление одного участника, как это делается на других тренингах, а будем выступать и выступать. Главный принцип тренинга – удовольствие и польза.
					.training__content-bottom
						a.training__readmore-btn(href="#") Узнать подробнее
						a.training__donwload(href="#")
							img(src="assets/img/trainings/icon.jpg")
							| Скачать программу в PDF
						.training__category
							| Категория:
							span Саморазвитие
			li.training__item
				.training__pic
					img(src="assets/img/trainings/picture-1.png")
					a.play__btn(href="#")
						i.fa.fa-play
						span Смотреть фрагмент
				.training__content
					.training__content-top
						h4.training__item-title Эмоциональный интеллект начинает и выигрывает
						.training__descr
							p Все это вы не только услышите от тренера, но и сможете закрепить в упражнениях. Мы не будем совместно обсуждать выступление одного участника, как это делается на других тренингах, а будем выступать и выступать. Главный принцип тренинга – удовольствие и польза.
					.training__content-bottom
						a.training__readmore-btn(href="#") Узнать подробнее
						a.training__donwload(href="#")
							img(src="assets/img/trainings/icon.jpg")
							| Скачать программу в PDF
						.training__category
							| Категория:
							span Саморазвитие
			li.training__item
				.training__pic
					img(src="assets/img/trainings/picture-1.png")
					a.play__btn(href="#")
						i.fa.fa-play
						span Смотреть фрагмент
				.training__content
					.training__content-top
						h4.training__item-title Крест лидера
						.training__descr
							p Все это вы не только услышите от тренера, но и сможете закрепить в упражнениях. Мы не будем совместно обсуждать выступление одного участника, как это делается на других тренингах, а будем выступать и выступать. Главный принцип тренинга – удовольствие и польза.
					.training__content-bottom
						a.training__readmore-btn(href="#") Узнать подробнее
						a.training__donwload(href="#")
							img(src="assets/img/trainings/icon.jpg")
							| Скачать программу в PDF
						.training__category
							| Категория:
							span Саморазвитие
			li.training__item
				.training__pic
					img(src="assets/img/trainings/picture-1.png")
					a.play__btn(href="#")
						i.fa.fa-play
						span Смотреть фрагмент
				.training__content
					.training__content-top
						h4.training__item-title Скрипты и алгоритмы успех
						.training__descr
							p Все это вы не только услышите от тренера, но и сможете закрепить в упражнениях. Мы не будем совместно обсуждать выступление одного участника, как это делается на других тренингах, а будем выступать и выступать. Главный принцип тренинга – удовольствие и польза.
					.training__content-bottom
						a.training__readmore-btn(href="#") Узнать подробнее
						a.training__donwload(href="#")
							img(src="assets/img/trainings/icon.jpg")
							| Скачать программу в PDF
						.training__category
							| Категория:
							span Саморазвитие
			li.training__item
				.training__pic
					img(src="assets/img/trainings/picture-1.png")
					a.play__btn(href="#")
						i.fa.fa-play
						span Смотреть фрагмент
				.training__content
					.training__content-top
						h4.training__item-title Эмоциональный интеллект начинает и выигрывает
						.training__descr
							p Все это вы не только услышите от тренера, но и сможете закрепить в упражнениях. Мы не будем совместно обсуждать выступление одного участника, как это делается на других тренингах, а будем выступать и выступать. Главный принцип тренинга – удовольствие и польза.
					.training__content-bottom
						a.training__readmore-btn(href="#") Узнать подробнее
						a.training__donwload(href="#")
							img(src="assets/img/trainings/icon.jpg")
							| Скачать программу в PDF
						.training__category
							| Категория:
							span Саморазвитие
		h3.training__title Организаторам
		.trainig__info
			| Если вы хотите организовать это мероприятие в своем городе или заказать его в корпоративном формате, пожалуйста, пишите на почту 
			span training@radislavgandapas.com 
			| или звоните +7 (495) 180-04-14
