section.p-training
  .container
    .p-training__wrap
      h2.h2-title Скрипты и алгоритмы успеха
      .row
        .col-sm-6
          <iframe src="https://player.vimeo.com/video/145960465" width="100%" height="250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          .p-training__gal
            .p-training__gal-item
              a.gallery__link.cartonbox(href="assets/img/about/gallery-1.png" data-cb-type="img" data-cb-group="gallery")
                img(src="assets/img/about/gallery-1.png")
            .p-training__gal-item
              a.gallery__link.cartonbox(href="assets/img/about/gallery-2.png" data-cb-type="img" data-cb-group="gallery")
                img(src="assets/img/about/gallery-2.png")
            .p-training__gal-item
              a.gallery__link.cartonbox(href="assets/img/about/gallery-3.png" data-cb-type="img" data-cb-group="gallery")
                img(src="assets/img/about/gallery-3.png")
            .p-training__gal-item
              a.gallery__link.cartonbox(href="assets/img/about/gallery-4.png" data-cb-type="img" data-cb-group="gallery")
                img(src="assets/img/about/gallery-4.png")
            .p-training__gal-item
              a.gallery__link.cartonbox(href="assets/img/about/gallery-5.png" data-cb-type="img" data-cb-group="gallery")
                img(src="assets/img/about/gallery-5.png")
            .p-training__gal-item
              a.gallery__link.cartonbox(href="assets/img/about/gallery-6.png" data-cb-type="img" data-cb-group="gallery")
                img(src="assets/img/about/gallery-6.png")
            .p-training__gal-item
              a.gallery__link.cartonbox(href="assets/img/about/gallery-7.png" data-cb-type="img" data-cb-group="gallery")
                img(src="assets/img/about/gallery-7.png")
            .p-training__gal-item
              a.gallery__link.cartonbox(href="assets/img/about/gallery-8.png" data-cb-type="img" data-cb-group="gallery")
                img(src="assets/img/about/gallery-8.png")
            .p-training__gal-item
              a.gallery__link.cartonbox(href="assets/img/about/gallery-9.png" data-cb-type="img" data-cb-group="gallery")
                img(src="assets/img/about/gallery-9.png")
            a(href='#').p-training__gal-item.p-training__gal-item--more
              span 
                i +35 
                | фото
          // video
          .p-training__gal
            .p-training__gal-item
              a.gallery__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video")
                img(src="assets/img/about/video-1.png")
            .p-training__gal-item
              a.gallery__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video")
                img(src="assets/img/about/video-2.png")
            .p-training__gal-item
              a.gallery__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video")
                img(src="assets/img/about/video-3.png")
            .p-training__gal-item
              a.gallery__link.cartonbox(href="https://youtube.com/embed/yRuGhX791FQ?rel=0&showinfo=0&autoplay=1&wmode=transparent" data-cb-type="iframe" data-cb-group="video")
                img(src="assets/img/about/video-4.png")
            a(href='#').p-training__gal-item.p-training__gal-item--more
              span 
                i +2
                | видео
          
          // ырфку
          .p-training__share
            script(type='text/javascript').
              (function() {
              if (window.pluso)if (typeof window.pluso.start == "function") return;
              if (window.ifpluso==undefined) { window.ifpluso = 1;
              var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
              s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
              s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
              var h=d[g]('body')[0];
              h.appendChild(s);
              }})();
            span поделиться
          
            .pluso(data-background='transparent', data-options='medium,square,line,horizontal,nocounter,theme=01', data-services='vkontakte,odnoklassniki,moimir,facebook')


        .col-sm-6
          .p-training__short
            p Ведущий: 
              b Радислав Гандапас
            .p-training__short-links
              a(href='#').blue-link
                i.ico.ico-pdf
                span Скачать программу, .PDF (125 кБ)
              a(href='#').blue-link
                i.ico.ico-email
                span Отправить программу на email
          
            h4 О тренинге
            .js-showMore
              p Изучение историй успеха людей разного масштаба показывает, что для его достижения есть свои сценарии и алгоритмы. Они сходны в разных сферах: в карьере и искусстве, в спорте и бизнесе.
              p Успех — это не состояние, это процесс. Многие считают успех делом случая, путая его с удачей. Они постоянно ждут, когда случится волшебная встреча или удивительное событие, которое приведет их к успеху. Однако, изучение историй людей разного масштаба в карьере и искусстве, в спорте и бизнесе — показывает, что в достижении успеха есть свои сценарии и свои алгоритмы. Важно понимать, что успех — это не состояние, это процесс.
              p На семинаре «Скрипты и алгоритмы успеха» Радислав раскроет проверенный и точный набор инструкций, описывающих последовательность действий, которые помогут вам обрести статус и деньги, а также высшие ценности: счастье, свободу и независимость!
              .js-showMore__hidden
                p Изучение историй успеха людей разного масштаба показывает, что для его достижения есть свои сценарии и алгоритмы. Они сходны в разных сферах: в карьере и искусстве, в спорте и бизнесе.
                p Успех — это не состояние, это процесс. Многие считают успех делом случая, путая его с удачей. Они постоянно ждут, когда случится волшебная встреча или удивительное событие, которое приведет их к успеху. Однако, изучение историй людей разного масштаба в карьере и искусстве, в спорте и бизнесе — показывает, что в достижении успеха есть свои сценарии и свои алгоритмы. Важно понимать, что успех — это не состояние, это процесс.
                p На семинаре «Скрипты и алгоритмы успеха» Радислав раскроет проверенный и точный набор инструкций, описывающих последовательность действий, которые помогут вам обрести статус и деньги, а также высшие ценности: счастье, свободу и независимость!
            a(href='#').js-showMore__toggler.link-dotted Подробнее

section.p-training-sep
  .container
    .row
      h3 Организаторам
      p Организаторам Если вы хотите организовать это мероприятие в своем городе или заказать его в корпоративном формате, пожалуйста, пишите на почту <a href='mailto:training@radislavgandapas.com'>training@radislavgandapas.com</a> или звоните +7 (495) 180-04-14

section.p-training
  .container
    .p-training__wrap
      h2.h2-title Тренинг «Скрипты и алгоритмы успеха» в Москве
      
      .row
        .col-sm-4
          a(href='#').training__card
            .training__card-top
              span 19.01.2017 /
                span Москва
            .training__card-name Скрипты и алгоритмы успеха
          a(href='#').training__card
            .training__card-top
              span 19.01.2017 /
                span Москва
            .training__card-name Скрипты и алгоритмы успеха VIP день
          
        .col-sm-7.col-sm-offset-1
          h3 Место проведения: 
          p Новинский бульвар,8, «Лотте Плаза»
            a(href='#').blue-link
              span показать на карте
          
          h3.mt30 Расписание
          .row
            .col-sm-6
              p День 1
              p 09:00 Начало регистрации    
              p 10:00 Начало тренинга  
              p 11:30 - 11:45 Кофе брейк  
              p 13:30 - 14:30 Обед  
            .col-sm-6
              p День 1
              p 09:00 Начало регистрации    
              p 10:00 Начало тренинга  
              p 11:30 - 11:45 Кофе брейк  
              p 13:30 - 14:30 Обед  
      
      /// BOOKING AND CTA
      .p-training-booking
        h2.ht-title Броинрование мест
        form(action='#')
          table.table-responsive.table
            thead
              tr
                td Категория билета
                td Цена
                td Участники
            tbody
              tr
                td 
                  .p-training-booking__name Platinum
                  span осталось мест: 64
                td 
                  .p-training-booking__price 100 000 Р.
                  span с 21.01.2017 - 125 000 Р.
                td
                  .ui-num-input
                    span.ui-num-input-minus -
                    input(type='text' value='0')
                    span.ui-num-input-plus +
          
              tr
                td 
                  .p-training-booking__name VIP
                  span осталось мест: 64
                td 
                  .p-training-booking__price 30 000 Р.
                  span с 21.01.2017 - 125 000 Р.
                td
                  .ui-num-input
                    span.ui-num-input-minus -
                    input(type='text' value='2')
                    span.ui-num-input-plus +
              tr
                td 
                  .p-training-booking__name Business
                  span осталось мест: 64
                td 
                  .p-training-booking__price 30 000 Р.
                  span с 21.01.2017 - 125 000 Р.
                td
                  .ui-num-input
                    span.ui-num-input-minus -
                    input(type='text' value='2')
                    span.ui-num-input-plus +
                    
                    
              tr
                td 
                  .p-training-booking__name Standart
                  span осталось мест: 64
                td 
                  .p-training-booking__price 50 000 Р.
                  span с 21.01.2017 - 125 000 Р.
                td
                  .ui-num-input
                    span.ui-num-input-minus -
                    input(type='text' value='2')
                    span.ui-num-input-plus +
              tr
                td 
                  .p-training-booking__name Category
                  span осталось мест: 64
                td 
                  .p-training-booking__price 50 000 Р.
                  span с 21.01.2017 - 125 000 Р.
                td
                  .ui-num-input
                    span.ui-num-input-minus -
                    input(type='text' value='2')
                    span.ui-num-input-plus +
            
              tr
                td 
                  .p-training-booking__name Category
                  span осталось мест: 64
                td 
                  .p-training-booking__price 50 000 Р.
                  span с 21.01.2017 - 125 000 Р.
                td
                  .ui-num-input
                    span.ui-num-input-minus -
                    input(type='text' value='2')
                    span.ui-num-input-plus +            
          
              tr
                td Итого
                td 70 000
                td 2
                
          .row.p-training-booking-cta
            .col-sm-4
              a(href='#').btn.btn-primary Перейти к оформлению
            .col-sm-5
              p При покупке от 5 билетов — скидка 5%. <br> При покупке от 10 билетов — скидка 10%.

          .row.p-training-bottom
            .col-sm-4
              p По вопросу заключения договоров, получения закрывающих документов и оплаты наличными обращайтесь по телефону: +7 (495) 180-04-14.
            .col-sm-4
              p Возврат денег или перенос участия возможны в случае отказа от участия в тренинге не менее чем за одну неделю.

      // CLIENTS
      .p-training-clients
        .row
          .col-sm-6
            h2 Генеральный парнер
            ul.clients__list.clients__list--mega
              li.clients__item
                img.clients__img(src="assets/img/about/clientBig_1.png" )
              li.clients__item
                img.clients__img(src="assets/img/about/clientBig_2.png" )  
          .col-sm-6
            h2 Информационный партнер
            
            ul.clients__list.clients__list--narrow
            
              li.clients__item
                img.clients__img(src="assets/img/about/client-3.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-4.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-5.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-6.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-9.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-10.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-11.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-12.png")

          .col-sm-12
            h2 партнеры
            
            ul.clients__list.clients__list--liner
            
              li.clients__item
                img.clients__img(src="assets/img/about/client-3.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-4.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-5.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-6.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-9.png")
              li.clients__item
                img.clients__img(src="assets/img/about/client-10.png")

    
    .p-training-reviews
      h2 Отзывы
      ul.feedback__list
        li.feedback__item
          .feedback__left
            h4 Ирина Павлова
            .author__info 28лет | 10 октября 2016
          .feedback__right
            p «Концентрат рекомендаций по проведению эффектных и эффективных презентаций, сдобренный вкусными и наглядными примерами. Книга рассказывает обо всех аспектах презентации - от подготовки слайдов, репетиции и самонастройки до окончания выступления и ответов на вопросы: как начать, продолжить и кончить, удерживая внимание аудитории и получая удовольствие. Блестящее чувство юмора автора подкрепляет ценные советы по ходу всей книги».
        li.feedback__item
          .feedback__left
            h4 Cоня К.
            .author__info 28лет | 10 октября 2016
          .feedback__right
            p «Отличная, на мой взгляд, исчерпывающая книга о том, как готовиться к пАрезентации и о том, как выступать с презентацией в любых бизнес-ситуациях (внутри и вне своей компании). Только полезные советы, кстати, не только касательно презентаций и выступлений, а касательно некоторых сторон жизни :) Мне очень понравилась. Я нередко делаю презентации сама и выступаю с ними также, и книга добавила к моему опыту очень ценные знания. Рекомендую читать всем деловым людям, не зависимо от рода бизнеса».
            
      h2 Оставить СВой отзыв о тренинге
      form.feedback__form
        .feedback__socials
          .enter__by войти с помощью: 
          ul.enter__social-list
            li.enter__social-item
              a.enter__social-link(href="#")
                i.fa.fa-vk
            li.enter__social-item
              a.enter__social-link(href="#")
                i.fa.fa-odnoklassniki
            li.enter__social-item
              a.enter__social-link(href="#")
                i.fa.fa-at
            li.enter__social-item
              a.enter__social-link(href="#")
                i.fa.fa-facebook
            li.enter__social-item
              a.enter__social-link(href="#")
                i.fa.fa-caret-down
        ul.feedback__input-list
          li.feedback__input-item
            label(for="name") Имя*
            input#name(type="text" name="name")
          li.feedback__input-item
            label(for="email") Email*
            input#email(type="email" name="email")
        .feedback__last-row
          .last__row-left
            label(for="textarea") Сообщение*
            textarea#textarea
          .last__row-right
            .check__wrap
              input#subscribe.checkbox(type="checkbox" checked)
              label(for="subscribe")
              label.text__label.subscribe-label(for="subscribe") Я хочу получать уведомления о новых комментариях на электронную почту
            button.form__btn.save(type="submit") Оставить отзыв
    
    .p-training-events        
      h3.training__title Организаторам
      .trainig__info
        | Если вы хотите организовать это мероприятие в своем городе или заказать его в корпоративном формате, пожалуйста, пишите на почту 
        a(href='mailto:training@radislavgandapas.com') training@radislavgandapas.com 
        | или звоните +7 (495) 180-04-14
