.ico
  display: inline-block
  content: ' '
  font-style: normal
  vertical-align: middle
  background-repeat: no-repeat
  background-position: center center
  &-user
    background-image: url('../img/svg/user.svg')
    width: 16px
    height: 20px

  &-pdf
    background-image: url('../img/svg/pdf.svg')
    width: 20px
    height: 20px

  &-email
    background-image: url('../img/svg/email.svg')
    width: 19px
    height: 11px
