extends ../_template

block variables
  - var title = 'Home page'

block content
  .wrapper
    .bg__pic.bg__pic--no-line
      .container.main__container
        .row
          include ../common/_header
          include ../common/_top-about
          include ../common/_about-page
    include ../common/_footer
