extends ../_template

block variables
  - var title = 'Home page'

block content
  .wrapper
    .bg__pic
      .container.main__container.order__container
        .row
          include ../common/_header
          include ../common/_top-ordered
          include ../common/_order-page
    include ../common/_footer